body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 20px;
}

.miTexto{
    font-size: 80px;
    color: green;
}

.cards{
    border: 2px solid black;
    width: fit-content;
    padding: 0px 1em 1em 1em;
    border-radius: 10px;
    transition: 1s;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.cards:hover{
    background-color: rgb(202, 72, 202);
}

.cards-container{
    width: 85%;
    margin: auto;
    margin-top: 1.5em;
    border: 5px solid black;
    border-radius: 10px;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}